
* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Noto Sans KR', sans-serif;;
}

form {
    width 800px;
    margin: 15px auto;
    background: #fff;
    padding: 20px;
    border-radius: 4px;
}